html,body{
    min-height: 100%;
    padding: 10px;
    margin: 2px;
    border: 0px;
    color: black;
    text-align: left;
    background-image: url(image/pink.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    background-attachment: scroll;
     
}
div{
    text-align: left;
     display: inline-block;
    }
div.video{
    width: 600px;
    height: 100px;
    display: inline;
    position: top center;
    }
radio{
    display: inline-block;
    text-align: left;
    }
h1 {
    border:0px #eee solid;
    color: black;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    display: inline;
}

h2 {
    border:0px #eee solid;
    color: red;
    text-align: center;
    padding: 12px;
    font-size:18px;
    font-family:Arial, Helvetica, sans-serif;
    display: inline;
}
ul {
    margin: 0;
    padding:0;
}
 
li {
    list-style: none; 
    margin: 10px;
    display: inline;
}
li a {
    padding: 5px 10px; 
    margin:0;
    border: 0px solid #f00; 
    background: #903;
    text-decoration: none;
    color:#FFF;
    /* cantos arredondados */
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
li a:hover {
    background: #CCC;
    color: #000; 
    border-color: #000;
}
form{
    border: 2px #eee solid;
    width: 100px;
    margin: 0px;
    height: 50px;
    text-align: center;
    padding: 40px;
    font-size: 12px;
    font-family: Verdana, Tahoma, sans-serif;
    size: 50px;
    display:inline-block;
      }
 label {
        border: 1px solid #999;
        outline: 0;
        width: 420px;
        text-align:left;
        display: inline-block;
         }
input{
        width: 420px;
        text-align: left; 
        display: inline-block;
         }
textarea {
            padding: 2px;
            width: 420px;
            height: 100px;
            margin:0;
            text-align: left;
            resize: none;
            outline: 0;
            border: 1px ;
            display: inline-block;
            }       

footer{
    padding: 20px;
    font-size: 14px;
    width: 50px;
    position: botton;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;

}
