 body,html {
    padding: 50px;
    background-color: whitesmoke;
    display: inline-block; 
 }  
img{
    position: relative;
 }


h2 {
    text-align: center;

} th, td{
            padding: 10px 20px;
            border: 1px solid #000;
        }
input{
    height: 20px;
     width: 340px; 
     display:inline-block;
    }
 
 div.items p{display: none}
 div.items p:target {display: block}

 button{
    flood-opacity: 50%;
    align-items: center2;
 }

textarea{
    height: 40px;
    width: 900px;

}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 900px;
}
.right {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 900px;
}
.right table {
  border: 1px solid white;
  margin-left: 60px;
}
.right table thead tr th {
  border: 1px solid white;
  outline: solid white;
}
.right table thead tr th {
  margin-right: 100px;
}