<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <ul>
        <li><a href="{{url_for('index')}}">Home</a> </li>
    </ul>
  <h1> RELATÓRIOS MENSAIS. </h1>
  <hr>
  <h3>AGENDA - Memória de Login e Senha.</h3>

  {% for message in get_flashed_messages() %}
    <h4>{{ message }}</h4>
    {% endfor %}
    
    <form method="post">
        <div class="form-group">
            <label for="title">Organização</label>
            <input type="text" name="org"
             placeholder="Insira Organização" class="form-control"
             value="{{ request.form['organizacao'] }}"></input>
        </div>

        <div class="form-group">
            <label for="title">Identidade</label>
            <input type="text" name="ident"
             placeholder="Insira credencial" class="form-control"
             value="{{ request.form['identidade'] }}"></input>
        </div>


         <div class="form-group">
            <label for="title">Senha</label>
            <input type="text" name="sen"
             placeholder="Insira senha" class="form-control"
             value="{{ request.form['senha'] }}"></input>
        </div>

        <div class="form-group">
            <label for="title">Observações</label>
            <input type="text" name="obs"
             placeholder="Insira complementos." class="form-control"
             value="{{ request.form['observacoes'] }}"></input>
        </div>

        <hr>
       
        <div class="form-group">
            <button type=submit class="btn btn-primary" action="agenda">Registrar Agenda</button>
        </div>


</body>
</html>
