<!DOCTYPE HTML>
<html>
<html lang=en>
    <head>
        <link rel="stylesheet" href="static/css/style.css">
        
    </head>
<body>
    <div>
        <h1>
            Area Exclusiva da Administradora.
        </h1>
    </div>
    
    
    {% for message in get_flashed_messages() %}
     <h2>{{ message }}</h2>
     {% endfor %}

    <h1>{{post}}</h1> 
    <form action="admin">
    <button type=submit class=btn btn-primary value="admin">Atualizar</button>
    </form>
         
      

      

          
    </body>
</html>
