<!DOCTYPE html>
<html>
<html lang=en>
    <head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="static/css/style.css">
        
    </head>
    <body>    
     <form>
        <ul>
            <li><a href="{{url_for('agenda')}}">Agenda</a></li>
        </ul>
     </form>
          <div>
        <h1> Cre Bortoli </h1><h2> Depilação </h2><h1> Site </h1>
         </div>
                   
                <h3>Este site é um espaço dedicado a Beleza e Bem Estar. </h3>

       <div class="video">              
        <video heigth ="600" width="300" autoplay muted>
       <source src="static/css/image/Cre.mp4" type="video/mp4">
        </video>
     </div>
                
    <div>            
    <img src="static/css/image/depi.png" alt="depi">
     </div>                          
      
   
   <div class="container">
        <div class="col-md-12"></div>
    <div class="Depilação">O que você está procurando?</div>
    
     <input type="radio" value="saude" />Saúde para a pele.<br/>
     <input type="radio" value="beleza" />Beleza, para uma maior autoestima.<hr/>

    </div>
             
        
    </body>
        <div>
            <footer>
                <p> <a href="https://www.instagram.com/crebortoli/?hl=pt">instagram</a></p>
            </footer>
        </div>
          
</html>
